*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Montserrat', sans-serif;
    
}

html{
    width: 100%;
    background-color: #242635;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.25rem;
    height: 70px;
    background-color: #242635;
    width: 100%;
    
}

nav label img{
   width: 20px;  
}

input#menu-ham{
    visibility: hidden;
}

input#menu-ham~ul{/*~ significa hermano directo*/
    background-color: #242635;
    list-style: none;
    position: absolute;
    width: 100%;
    height: calc(450px - 70px);
    top: 70px;
    right: 100%;
    transition: all 300ms linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

input#menu-ham:checked ~ ul{
    right: 0;
}

.portada{
    display: grid;
    width: 100%;
    grid-template-columns:33% 33% 33%;
    height:300px;   
}

.foto-personal img{
    width:250px;
    height: 250px;
    position: relative;
    right:-5px;
    top: 5px;
    
}
.fondo{
    background-color: #d1ceca36;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
    top: 60px;
    right: 50px;
    z-index: -1;
}

 .portada__contenedor{
    grid-column-start: 1;
   
 }

 .foto-personal{
     grid-column-start: 2;
     
 }

 .portada-izq{
    grid-column-start:3;
   
 }
 .portada__contenedor-h3{ /*SOY*/
    color:#ffffff;
    font-size: 32px;
    font-weight: 600px;
    margin-left: 20px;
}

.portada__contenedor-h1{ /*LUIS*/
    display: inline-block;
    color:#34B0BE;
    border-bottom: 2px solid #ffffff;
    padding-bottom:10px ;
    font-size: 50px;
    font-weight:600px;
    margin-left: 26px;
}

.portada__contenedor-p{/*web developer*/
    padding-top: 15px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600px;
    margin-left: 26px;
    min-width: 33%;
}

.portada-izq__h3{ /*tiempo de experiencia*/
    
    margin-top: 29px;
    color: #34B0BE;
    font-size: 20px;
    font-weight:600px;  
}

.portada-izq__p{ /*experiencia*/
    color: #ffffff;
    font-size: 20px;
    font-weight: 600px; 
}

.contenedor-iconos{ /*Iconos de redes */
    display: flex;
    gap: 1em;
    width: 100px;
    margin-right: 50px;
}

.contenedor-iconos__linkedin a img{
    
    background-color: #D1CECA;
    border-radius: 50%;
}

.contenedor-iconos__instagram a img{
    
    background-color: #D1CECA;
    border-radius: 50%;
}

.contenedor-iconos__twitter a img{
    
    background-color: #D1CECA;
    border-radius: 50%;
}

.iconos-bottom{
    background-color:#d1ceca3f ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    padding: 1em;
    border-radius: 30px;
    gap: 25px;
    width:90%;
    margin-left: auto;
    margin-right: auto;  
}

.iconos-bottom div img{
    height: 6em;
    width: 6em;
    background-color: #D1CECA;
    padding: 15px;
    border-radius: 30px; 
}

.bio__titulo{
    text-align: center;
    font-size: 32px;
    font-weight: 600px;
    color:#34B0BE;
    margin-top: 50px;
    margin-bottom: 25px;
}

.bio__informacion{
    text-align: center;
    font-size: 16px;
    font-weight:400px ;
    color: #ffffff;
    max-width: 400px;
    margin-left:10px ;
    margin-right:10px;
}

.servicios__h3{
    text-align: center;
    font-size: 32px;
    font-weight: 600px;
    color:#34B0BE;
    margin-top: 50px;
    margin-bottom: 25px;
}

.servicios{
    display: flex;
    overflow-x: auto;
   
}

.vector img{
    width: 230px;
    border-radius: 15px;
}

.servicios__icon-1{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 300px;
    width: 230px;
    margin: 20px;
    border-radius: 15px;
}


.servicios__icon-1-pencil{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 92px;
    left: 67px;
}

.servicios__icon-1-h4{
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 75px;
    
}

.servicios__icon-1-p{
    font-size: 16px;
    text-align: center;
    bottom: 50px;
    position: relative; 
}




.servicios__icon-2{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 300px;
    width: 230px;
    margin: 20px;
    border-radius: 15px;
}


.servicios__icon-2-marketing{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 92px;
    left: 67px;
}

.servicios__icon-2-h4{
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 75px;
    
}

.servicios__icon-2-p{
    font-size: 16px;
    text-align: center;
    bottom: 50px;
    position: relative; 
}



.servicios__icon-3{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 300px;
    width: 230px;
    margin: 20px;
    border-radius: 15px;
}


.servicios__icon-3-research{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 92px;
    left: 67px;
}

.servicios__icon-3-h4{
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 75px;
    
}

.servicios__icon-3-p{
    font-size: 16px;
    text-align: center;
    bottom: 50px;
    position: relative; 
}


.habilidades{
    text-align: center;
    font-size: 32px;
    font-weight: 600px;
    color:#34B0BE;
    margin-top: 50px;
    margin-bottom: 25px;
}

.barras{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.font-barras{
    color: #FFFFFF;
}


.barra_webdesign,
.barra_webdesign::after{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

.barra_webdesign::after{
    content: '';
    background-color: #34B0BE;
    position: absolute;
    width: 80%;
    margin-top: 0;
}


.barra_interaction,
.barra_interaction::after{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

.barra_interaction::after{
    content: '';
    background-color: #34B0BE;
    position: absolute;
    width: 95%;
    margin-top: 0;
}
.barra_ux,
.barra_ux::after{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

.barra_ux::after{
    content: '';
    background-color: #34B0BE;
    position: absolute;
    width: 80%;
    margin-top: 0;
}

.porcentaje-interaction{

    position: relative;
    left: 45%;
    color: #34B0BE;
    top: 7px;
    font-size: 14px;
    
}

.porcentaje-web{

    position: relative;
    left: 45%;
    color: #34B0BE;
    top: 7px;
    font-size: 14px;
    
}
.porcentaje-ux{

    position: relative;
    left: 65%;
    color: #34B0BE;
    top: 7px;
    font-size: 14px;
    
}

.portafolio__h3{
    text-align: center;
    font-size: 32px;
    font-weight: 600px;
    color:#34B0BE;
    margin-top: 50px;
    margin-bottom: 25px;
}

.portafolio{
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin: 0;
}

.portafolio div img{
    max-width: 200px;
    max-height: 200px;
    
}

.portafolio div{
    margin: .5rem;
}


.contacto__h3{
    text-align: center;
    font-size: 32px;
    font-weight: 600px;
    color:#34B0BE;
    margin-top: 50px;
    margin-bottom: 25px;
}

.contacto__contenedor{
    background-color: #FFFFFF;
    width: 265px;
    height: 200px;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-contacto{
    display: flex;

}

.tarjeta-email{
    overflow: none;
    display: flex;
    justify-content: flex-end;
}

.vector-tarjeta img{
    width: 265px;
    border-radius: 15px;
}

.contacto__contenedor>img{
    height:60px;
    width:60px; 
}
.contacto__contenedor>img, .contacto__contenedor>h3, .contacto__contenedor>p{
    position: relative;
    bottom: 65px;
    font-size: 16px;

}
.cv-h3{
    text-align: center;
    font-size: 32px;
    font-weight: 600px;
    color:#34B0BE;
    margin-top: 50px;
    margin-bottom: 25px;
}

.cv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-boton{
    margin: 2rem;
    width: 100px;
    height: 60px;
    color: #34B0BE;
    text-decoration: none;
}

.cv-boton:hover{
    border-radius: 3px;
    background-color: #34b0be;
    color: #D1CECA;
    border: 2px solid #34b0be;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #d1ceca36;
    height: 60px;
    align-items: center;
    color: #34B0BE;
}


/* -----------------MEDIA QUERYS escritorio------------------ */


@media only screen and ( min-width: 768px){
    label{
        display: none;
    }

    input#menu-ham ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        height: auto;
        justify-content: flex-end;
        transition: none;
        flex-direction: row;

    }
    nav>ul>li{ 
        display: inline-block;
        
       
        
    }
    
    nav>ul>li>a{
        padding: .5rem 1rem;
        text-decoration: none;
        color: white;
        border-bottom: 3px solid transparent;
        transition: .5s linear  ;/*de que forma se va a aplicar otra propiedad*/ /*nombre de la propiedad duracion funcion retardado*/
        font-size: 16px 12px 18px;
        
    }
    
    nav>ul>li>a:hover{/*anadir un efecto para cuando el puntero pase encima*/
        
        color: #34b0be;/*anadir un efecto para cuando el puntero pase encima*/
    }

    /* ------------------------inicio--------------------------- */

    .portada{
        height: 520px;
    }
    
    .foto-personal img{
        position: relative;
        left: 55px;
        top: 100px;
        width:450px;
        height: 450px;
        
    }

    .fondo{
        background-color: #d1ceca4a;
        position: relative;
        left: 0px;
        top: 10px;
        height: 550px;
        width: 550px;
        border-radius: 50%;
        z-index: -1;
    }
    
     .portada__contenedor{
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
       
     }
    
     .portada__contenedor-h3{ /*SOY*/
        font-size: 50px;
        margin-right: 170px;
    }
    
    .portada__contenedor-h1{ /*JUAN*/
        border-top: 2px solid #ffffff;
        border-bottom: none;
        font-size: 150px;
        margin-left: 26px;
    }
    
    .portada__contenedor-p{/*web developer*/
        padding-top: 10px;
        font-size: 45px;
        margin-left: 70px;
        min-width: 33%;
    }
    
    .portada-izq__h3{ /*tiempo de experiencia*/
        font-size: 45px; 
    }
    
    .portada-izq__p{ /*experiencia*/
        font-size: 45px;
    }
    
    
    .contenedor-iconos__linkedin a img{
        
        margin-top: 1rem;
        background-color: #D1CECA;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    .contenedor-iconos__instagram a img{
        
        margin-top: 1rem;
        background-color: #D1CECA;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    .contenedor-iconos__twitter a img{
    
        margin-top: 1rem;
        background-color: #D1CECA;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    .iconos-bottom{
        background-color:#d1ceca3f ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        border-radius: 30px;
        gap: 25px;
        max-width:45%; 
    }
    
    .iconos-bottom div img{
        height: 6em;
        width: 6em;
        background-color: #D1CECA;
        padding: 15px;
        border-radius: 30px; 
    }

    .bio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bio__titulo{
        text-align: center;
        font-size: 50px;
        font-weight: 600px;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    
    .bio__informacion{
        text-align: center;
        font-size: 18px;
        max-width: 800px;
    }

    /* -------------------SERVICIOS------------------------ */

    .servicios__h3{
        font-size: 50px;
    }
    
    .servicios{
        display: flex;
        overflow-x: none;
        justify-content: center;
       
    }
    
    .vector img{
        width: 230px;
    }
    
    .servicios__icon-1{
        margin-right: 30px;
    }
    
    .servicios__icon-2{
        margin-right: 30px;
    }
    
    .porcentaje-interaction{

        left: 85%;
        font-size: 18px;
        
    }

    /* ----------------------HABIILIDADES--------------------- */
    
    .porcentaje-web{
    
        left: 73%;
        font-size: 18px;
        
    }
    .porcentaje-ux{
    
        left: 78%;
        font-size: 18px;
        
    }

    /* -------------------PORTAFOLIO--------------------- */

    .portafolio__h3{
        font-size: 50px;
    }
    
    
    .portafolio div img{
        max-width: 500px;
        max-height: 500px;
    }
    
    .portafolio div{
        margin: 1rem;
    }

    /* ---------------------------CONTACTO-------------------- */
    
    .contacto__h3{
        font-size: 50px;
    }
    
    .contacto__contenedor{
        background-color: #FFFFFF;
        width: 265px;
        height: 200px;
        border-radius: 15px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .tarjeta-contacto{
        display: flex;
        justify-content: center;
        margin-right: 450px;
    
    }
    
    .tarjeta-email{
        display: flex;
        justify-content: center;
        margin-left: 450px;
    }
    
    
    .contacto__contenedor>img, .contacto__contenedor>h3, .contacto__contenedor>p{
        bottom: 100px;
    
    }

}




